.react-calendar {
  width: 280px;
  height: 250px;
  background-color: var(--chakra-colors-surface); /* Темный фон */
  color: #ffffff; /* Белый текст */
  /* border: 1px solid var(--chakra-colors-surface_container); Темная рамка */
}

.react-calendar__month-view__days__day {
  background-color: transparent; /* Прозрачный фон для дней */
  color: #ffffff; /* Белый текст для дней */
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #888888; /* Серый текст для дней соседнего месяца */
}

.react-calendar__month-view__days__day--today {
  /* background-color: #444444; Темный фон для сегодняшнего дня */
  border-radius: 50%; /* Круглая форма */
}

.react-calendar__month-view__days__day--selected {
  background-color: #007bff; /* Цвет для выбранного дня */
  color: #ffffff; /* Белый текст для выбранного дня */
}

.react-calendar__navigation {
  background-color: #3a3a3a00; /* Темный фон для навигации */
  color: #ffffff; /* Белый текст для навигации */
}

.react-calendar__navigation button {
  background: none; /* Убираем фон у кнопок */
  color: #ffffff; /* Белый текст для кнопок */
}

.react-calendar__tile {
  padding: 10px; /* Отступы для ячеек */
  border-radius: 5px; /* Закругленные углы */
}

.react-calendar__tile:hover {
  background-color: var(--chakra-colors-surface_container); /* Цвет при наведении */
}
