.text-editor-container {
	background-color: #121212;
	color: #d4d4d4;
	border: 1px solid #333;
	border-radius: 4px;
	/* padding: 16px; */
	/* font-family:
    "Monaco", "Menlo", "Ubuntu Mono", "Consolas", source-code-pro, monospace; */
	font-size: 14px;
	line-height: 1.5;
	/* min-height: 200px; */
	overflow: auto;

	h1 {
		font-size: 21px;
		font-weight: bold;
	}

	h2 {
		font-size: 18px;
	}

	h3 {
		font-size: 16px;
	}

	h4 {
		font-size: 14px;
	}

	h5 {
		font-size: 12px;
	}

	h5 {
		font-size: 10px;
	}

	p {
		font-size: 14px;
	}
}

.text-editor {
	.tiptap {
		padding: 12px;
	}
}

/* .text-editor-container :focus {
  outline: none;
}

.text-editor-container h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.text-editor-container p {
  margin: 0.5em 0;
}

.text-editor-container code {
  background-color: #2d2d2d;
  padding: 2px 4px;
  border-radius: 3px;
  color: #ff79c6;
}

.text-editor-container pre {
  background-color: #2d2d2d;
  padding: 12px;
  border-radius: 4px;
  overflow-x: auto;
}

.text-editor-container ul,
ol {
  padding-left: 20px;
  margin: 0.5em 0;
}

.text-editor-container a {
  color: #8be9fd;
  text-decoration: underline;
}

.text-editor-container blockquote {
  border-left: 4px solid #444;
  padding-left: 12px;
  color: #999;
  margin: 1em 0;
} */
