* {
	box-sizing: border-box;
}

html,
body {
	/* display: flex; */
	/* gap: 12px; */
	/* background-color: var(--chakra-colors-text);
  background-color: var(--chakra-colors-surface);
  transition:
    background-color 200ms,
    color 200ms;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
	overflow: hidden;

	/* font-family: "Inter"; */
	margin: 0;
	padding: 0;

	scrollbar-color: var(--chakra-colors-primary) transparent;
}
#root {
	display: flex;
	width: 100%;
	height: 100%;

	/* gap: 12px; */
	padding: 6px;
}

.main {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 98.5dvh;

	overflow-y: scroll;
	/* margin-bottom: 3dvh; */

	gap: 6px;
	padding: 0px 15px;
	/* background-color: var(--chakra-colors-surface_container); */
	/* border: 2px solid var(--chakra-colors-outline); */
	/* border-radius: var(--chakra-radii-lg); */
}

@media screen and (max-width: 768px) {
	#root {
		flex-direction: column;
		/* padding: 16px; */
	}

	.main {
		height: 92dvh;
	}
}
