@font-face {
	font-family: "Kaizen-Heading";
	src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Kaizen-Body";
	src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/* @font-face {
  font-family: "MyFont";
  src: url("../assets/fonts/buvera/Buvera-Regular.otf") format("truetype");

  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */

* {
	box-sizing: border-box;
	/* font-family:
    "Buvera-Bold", "Buvera-Regular", system-ui, Avenir, Helvetica, Arial,
    sans-serif; */
}

html,
body {
	/* display: flex; */
	/* gap: 12px; */
	/* background-color: var(--chakra-colors-text);
  background-color: var(--chakra-colors-surface);
  transition:
    background-color 200ms,
    color 200ms;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
	overflow: hidden;

	/* font-family: "Inter"; */
	margin: 0;
	padding: 0;

	scrollbar-color: var(--chakra-colors-primary) transparent;
}
#root {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	/* gap: 12px; */
	background: var(--chakra-colors-surface);
	padding: 6px;
}

.main {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 98.5dvh;

	overflow-y: scroll;
	/* margin-bottom: 3dvh; */

	gap: 6px;
	padding: 0px 15px;
	/* background-color: var(--chakra-colors-surface_container); */
	/* border: 2px solid var(--chakra-colors-outline); */
	/* border-radius: var(--chakra-radii-lg); */
}

@media screen and (max-width: 768px) {
	#root {
		/* padding: 16px; */
	}

	.main {
		height: 92dvh;
		padding-bottom: 100px;
	}
}
