body {
  display: flex;
  padding: 24px;
  gap: 12px;
  --color-primary: #44634c;
  --color-surface: #131315;
  --color-surface-container: #191a1c;
  --color-surface-container-high: #1d1e20;
  --color-surface-container-highest: #232428;

  --color-mantine-color-text: var(--color-surface);
  --mantine-color-body: var(--color-surface);
}

.main {
  width: 100%;
  height: 100%;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.project_circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color-primary);
}
