.sidebar {
  width: 350px;
  height: 95dvh;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 24px;
  padding: 24px;
  background-color: var(--color-surface-container);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    gap: 12px;

    .account {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 12px;
      gap: 8px;
      border-radius: 12px;
      background-color: var(--color-surface-container-high);

      .avatar {
        color: var(--color-primary);
      }
    }

    .authorization {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 12px;
      gap: 8px;
      border-radius: 12px;
      background-color: var(--color-surface-container-high);
      cursor: pointer;

      .avatar {
        color: var(--color-primary);
      }
    }

    .actions {
      display: flex;
      align-items: center;
      padding: 12px;
      border-radius: 12px;
      background-color: var(--color-surface-container-high);
    }
  }
}

.simpleitem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;

  &:hover {
    background-color: rgba(128, 128, 128, 0.206);
  }

  .content,
  .actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }

  .actions {
    justify-content: flex-end;
  }
}
