.sidebar_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px 12px;

  .left,
  .right {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 6px;
  }

  .right {
    justify-content: flex-end;
  }
}
