.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .content,
  .actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }

  .actions {
    justify-content: flex-end;
  }
}
